/* line 5, ../../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../usr/local/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"), url("../fonts/playfair-display-v13-latin-regular.woff2") format("woff2"), url("../fonts/playfair-display-v13-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: local("Playfair Display Bold"), local("PlayfairDisplay-Bold"), url("../fonts/playfair-display-v13-latin-700.woff2") format("woff2"), url("../fonts/playfair-display-v13-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local("Raleway Light"), local("Raleway-Light"), url("../fonts/raleway-v12-latin-300.woff2") format("woff2"), url("../fonts/raleway-v12-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local("Raleway"), local("Raleway-Regular"), url("../fonts/raleway-v12-latin-regular.woff2") format("woff2"), url("../fonts/raleway-v12-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../fonts/raleway-v12-latin-600.woff2") format("woff2"), url("../fonts/raleway-v12-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/raleway-v12-latin-700.woff2") format("woff2"), url("../fonts/raleway-v12-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?duqo60");
  src: url("../fonts/icomoon.eot?duqo60#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?duqo60") format("truetype"), url("../fonts/icomoon.woff?duqo60") format("woff"), url("../fonts/icomoon.svg?duqo60#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 69, ../sass/parts/_fonts.scss */
.icon {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* line 81, ../sass/parts/_fonts.scss */
.icon.icon-user:before {
  content: "\f007";
}
/* line 85, ../sass/parts/_fonts.scss */
.icon.icon-close:before {
  content: "\f00d";
}
/* line 89, ../sass/parts/_fonts.scss */
.icon.icon-arrow-down:before {
  content: "\f063";
}
/* line 93, ../sass/parts/_fonts.scss */
.icon.icon-comment:before {
  content: "\f075";
}
/* line 97, ../sass/parts/_fonts.scss */
.icon.icon-twitter:before {
  content: "\f099";
}
/* line 101, ../sass/parts/_fonts.scss */
.icon.icon-bars:before {
  content: "\f0c9";
}
/* line 105, ../sass/parts/_fonts.scss */
.icon.icon-envelope:before {
  content: "\f0e0";
}
/* line 109, ../sass/parts/_fonts.scss */
.icon.icon-instagram:before {
  content: "\f16d";
}
/* line 113, ../sass/parts/_fonts.scss */
.icon.icon-tumblr:before {
  content: "\f173";
}
/* line 117, ../sass/parts/_fonts.scss */
.icon.icon-google:before {
  content: "\f1a0";
}
/* line 121, ../sass/parts/_fonts.scss */
.icon.icon-pinterest:before {
  content: "\f231";
}

/* line 68, ../sass/parts/_grid.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 74, ../sass/parts/_grid.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  /* line 74, ../sass/parts/_grid.scss */
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 992px) {
  /* line 74, ../sass/parts/_grid.scss */
  .container {
    width: 970px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 74, ../sass/parts/_grid.scss */
  .container {
    width: 1170px;
  }
}
/* line 92, ../sass/parts/_grid.scss */
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 100, ../sass/parts/_grid.scss */
.row {
  margin-left: -15px;
  margin-right: -15px;
}

/* line 105, ../sass/parts/_grid.scss */
.clearfix, .clearfix:before, .clearfix:after, .container:before, .container:after,
.container-fluid:before, .container-fluid:after, .row:before, .row:after {
  display: table;
  content: " ";
}

/* line 111, ../sass/parts/_grid.scss */
.clearfix:after, .container:after, .container-fluid:after, .row:after {
  clear: both;
}

/* line 25, ../sass/parts/_default.scss */
body {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  margin: 0px auto;
  padding: 0 25px;
  max-width: 1920px;
  background-color: #fff;
  color: #000;
  font-family: "Raleway";
  font-size: 13px;
  line-height: 100%;
  font-weight: 400;
  overflow-x: hidden;
}
@media screen and (max-width: 1200px) {
  /* line 25, ../sass/parts/_default.scss */
  body {
    padding: 0 15px;
  }
}
@media screen and (max-width: 700px) {
  /* line 25, ../sass/parts/_default.scss */
  body {
    padding: 0 10px;
  }
}

/* line 49, ../sass/parts/_default.scss */
.btn {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
  text-decoration: none;
  -moz-transition: all, linear 0.3s;
  -o-transition: all, linear 0.3s;
  -webkit-transition: all, linear 0.3s;
  transition: all, linear 0.3s;
}
/* line 61, ../sass/parts/_default.scss */
.btn-back {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: #d07c7c;
  color: #fff;
  font-size: 20px;
  z-index: 5;
  transform: rotate(180deg);
}
/* line 74, ../sass/parts/_default.scss */
.btn-back:hover, .btn-back:active, .btn-back:focus {
  background-color: #fff;
  color: #d07c7c;
  border: 2px solid #d07c7c;
}
/* line 81, ../sass/parts/_default.scss */
.btn-down {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 125px;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background-color: #fff;
  color: #d07c7c;
  font-size: 20px;
}
/* line 94, ../sass/parts/_default.scss */
.btn-down:hover, .btn-down:active, .btn-down:focus {
  background-color: #d07c7c;
  color: #fff;
}
@media screen and (max-width: 700px) {
  /* line 81, ../sass/parts/_default.scss */
  .btn-down {
    bottom: 25px;
  }
}

/* line 105, ../sass/parts/_default.scss */
.title {
  position: relative;
  margin-bottom: 70px;
  color: #5a5957;
  font-family: "Playfair Display";
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  /* line 105, ../sass/parts/_default.scss */
  .title {
    margin-bottom: 35px;
  }
}
/* line 119, ../sass/parts/_default.scss */
.title:after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 62px;
  height: 3px;
  background-color: #d07c7c;
}

/*
* Owl Carousel v2.3.4
* Copyright 2013-2018 David Deutsch
* Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
*/
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 12, ../sass/parts/_owl-carousel.scss */
.owl-carousel {
  display: none;
  width: 100%;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
}
/* line 19, ../sass/parts/_owl-carousel.scss */
.owl-carousel.owl-rtl {
  direction: rtl;
}
/* line 22, ../sass/parts/_owl-carousel.scss */
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* line 27, ../sass/parts/_owl-carousel.scss */
.owl-carousel.owl-loaded {
  display: block;
}
/* line 31, ../sass/parts/_owl-carousel.scss */
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
/* line 36, ../sass/parts/_owl-carousel.scss */
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
/* line 41, ../sass/parts/_owl-carousel.scss */
.owl-carousel.owl-hidden {
  opacity: 0;
}
/* line 45, ../sass/parts/_owl-carousel.scss */
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
/* line 49, ../sass/parts/_owl-carousel.scss */
.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 58, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-item {
  position: relative;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-touch-callout: none;
}
/* line 72, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
/* line 76, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}
/* line 81, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity .4s ease;
}
/* line 85, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-item .owl-lazy:not([src]), .owl-carousel .owl-item .owl-lazy[src^=""] {
  max-height: 0;
}
/* line 91, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
}
/* line 97, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 106, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 113, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-wrapper {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
/* line 122, ../sass/parts/_owl-carousel.scss */
.owl-carousel .animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
/* line 128, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-animated-in {
  z-index: 0;
}
/* line 129, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-animated-out {
  z-index: 1;
}
/* line 132, ../sass/parts/_owl-carousel.scss */
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
/* line 136, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-height {
  transition: height .5s ease-in-out;
}
/* line 140, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
/* line 146, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url(owl.video.play.png) no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform .1s ease;
}
/* line 160, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
/* line 167, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
  display: none;
}
/* line 172, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity .4s ease;
}
/* line 181, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
/* line 189, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-dots.disabled {
  display: none;
}
/* line 196, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 205, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
/* line 213, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-nav.disabled {
  display: none;
}
/* line 218, ../sass/parts/_owl-carousel.scss */
.owl-carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 227, ../sass/parts/_owl-carousel.scss */
.owl-carousel button.owl-dot {
  background: 0 0;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}

/* line 236, ../sass/parts/_owl-carousel.scss */
.no-js .owl-carousel {
  display: block;
}

/* Green theme - Owl Carousel CSS File */
/* line 244, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
/* line 250, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
/* line 260, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-nav [class*='owl-']:hover {
  background: #4DC7A0;
  color: #FFF;
  text-decoration: none;
}
/* line 267, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}
/* line 272, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
/* line 278, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
/* line 282, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
/* line 287, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
/* line 300, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #4DC7A0;
}

/* line 313, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
/* line 319, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-nav [class*=owl-] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}
/* line 329, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-nav [class*=owl-]:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}
/* line 336, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-nav .disabled {
  opacity: .5;
  cursor: default;
}
/* line 341, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}
/* line 346, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
/* line 350, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
}
/* line 354, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity .2s ease;
  border-radius: 30px;
}
/* line 365, ../sass/parts/_owl-carousel.scss */
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

/* line 3, ../sass/parts/_header.scss */
.header {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1;
  position: relative;
  padding: 170px 0px 70px;
  height: 660px;
  background-repeat: no-repeat;
  background-position: 15% 75%;
  background-size: cover;
  background-image: url(../img/header-background-1870px.jpg);
  text-align: center;
}
@media screen and (max-width: 1200px) {
  /* line 3, ../sass/parts/_header.scss */
  .header {
    background-image: url(../img/header-background-1200px.jpg);
  }
}
@media screen and (max-width: 700px) {
  /* line 3, ../sass/parts/_header.scss */
  .header {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2;
    margin-top: 55px;
    padding: 100px 0px 50px;
    height: 500px;
    background-image: url(../img/header-background-700px.jpg);
  }
}
@media screen and (max-width: 400px) {
  /* line 3, ../sass/parts/_header.scss */
  .header {
    background-position: 25% 75%;
  }
}
/* line 33, ../sass/parts/_header.scss */
.header-logo {
  display: block;
  margin: 0px auto;
  width: 141px;
  height: 58px;
  background: url(../img/logo.png) no-repeat;
  cursor: pointer;
}
/* line 42, ../sass/parts/_header.scss */
.header-title {
  position: relative;
  margin-top: 50px;
  color: #fff;
  font-family: "Playfair Display";
  font-size: 48px;
  line-height: 58px;
}
@media screen and (max-width: 1200px) {
  /* line 42, ../sass/parts/_header.scss */
  .header-title {
    font-size: 36px;
    line-height: 42px;
  }
}
@media screen and (max-width: 700px) {
  /* line 42, ../sass/parts/_header.scss */
  .header-title {
    font-size: 28px;
    line-height: 34px;
  }
}
/* line 60, ../sass/parts/_header.scss */
.header-title:before {
  position: absolute;
  content: "";
  bottom: -20px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  width: 80px;
  height: 3px;
  background-color: #fff;
}
/* line 73, ../sass/parts/_header.scss */
.header-desc {
  margin: 60px auto 0px;
  max-width: 450px;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}
@media screen and (max-width: 1200px) {
  /* line 73, ../sass/parts/_header.scss */
  .header-desc {
    font-size: 14px;
    line-height: 18px;
  }
}
@media screen and (max-width: 700px) {
  /* line 73, ../sass/parts/_header.scss */
  .header-desc {
    font-size: 13px;
    line-height: 16px;
  }
}

/* line 3, ../sass/parts/_menubar.scss */
.menubar {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 2;
  -webkit-order: 2;
  order: 2;
  position: relative;
  height: 55px;
  border-bottom: 1px solid #848282;
}
@media screen and (max-width: 700px) {
  /* line 3, ../sass/parts/_menubar.scss */
  .menubar {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0 10px;
    width: calc(100% - 20px);
    border-bottom: 2px solid #848282;
    background-color: #fff;
    z-index: 3;
  }
}
/* line 27, ../sass/parts/_menubar.scss */
.menubar-logo {
  display: block;
  margin-left: 55px;
  width: 93px;
  height: 18px;
  background: url(../img/logo-short-dark.png) no-repeat;
}
@media screen and (max-width: 1200px) {
  /* line 27, ../sass/parts/_menubar.scss */
  .menubar-logo {
    margin-left: 0;
  }
}
@media screen and (max-width: 700px) {
  /* line 39, ../sass/parts/_menubar.scss */
  .menubar-links {
    display: none;
    position: absolute;
    top: 55px;
    width: 100%;
    left: 0;
    right: 0;
    padding: 15px 0;
    background-color: #d07c7c;
    text-align: center;
    z-index: 99;
  }
}
/* line 54, ../sass/parts/_menubar.scss */
.menubar-links.toggle {
  display: block;
  position: fixed;
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 20px);
}
@media screen and (min-width: 701px) {
  /* line 54, ../sass/parts/_menubar.scss */
  .menubar-links.toggle {
    position: static;
    margin: 0;
    width: auto;
  }
}
/* line 68, ../sass/parts/_menubar.scss */
.menubar-links li {
  display: inline-block;
  margin-right: 55px;
}
@media screen and (max-width: 1200px) {
  /* line 68, ../sass/parts/_menubar.scss */
  .menubar-links li {
    margin-right: 25px;
  }
  /* line 75, ../sass/parts/_menubar.scss */
  .menubar-links li:last-of-type {
    margin-right: 0;
  }
}
@media screen and (max-width: 700px) {
  /* line 68, ../sass/parts/_menubar.scss */
  .menubar-links li {
    display: block;
    margin-right: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #848282;
  }
  /* line 86, ../sass/parts/_menubar.scss */
  .menubar-links li:last-of-type {
    border-bottom: 2px solid #848282;
  }
}
/* line 91, ../sass/parts/_menubar.scss */
.menubar-links li a {
  display: block;
  position: relative;
  color: #5a5957;
  font-family: "Raleway";
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  /* line 91, ../sass/parts/_menubar.scss */
  .menubar-links li a {
    padding: 10px 0;
    color: #fff;
  }
  /* line 107, ../sass/parts/_menubar.scss */
  .menubar-links li a:hover, .menubar-links li a:active, .menubar-links li a:focus {
    color: #5a5957;
    font-weight: 700;
  }
}
/* line 114, ../sass/parts/_menubar.scss */
.menubar-links li.active a:after, .menubar-links li a:hover:after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: #d07c7c;
}
@media screen and (max-width: 700px) {
  /* line 114, ../sass/parts/_menubar.scss */
  .menubar-links li.active a:after, .menubar-links li a:hover:after {
    display: none;
  }
}
/* line 131, ../sass/parts/_menubar.scss */
.menubar-togglemenu {
  display: block;
  background-color: inherit;
  color: #d07c7c;
  font-size: 25px;
}
@media screen and (min-width: 701px) {
  /* line 131, ../sass/parts/_menubar.scss */
  .menubar-togglemenu {
    display: none;
  }
}

/* line 3, ../sass/parts/_aboutme.scss */
.aboutme {
  padding: 100px 0;
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -ms-flex-order: 3;
  -webkit-order: 3;
  order: 3;
}
@media screen and (max-width: 1200px) {
  /* line 3, ../sass/parts/_aboutme.scss */
  .aboutme {
    padding: 70px 0;
  }
}
@media screen and (max-width: 700px) {
  /* line 3, ../sass/parts/_aboutme.scss */
  .aboutme {
    padding: 50px 0;
  }
}
/* line 15, ../sass/parts/_aboutme.scss */
.aboutme-desc {
  margin: 0 auto;
  max-width: 750px;
  color: #848282;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}

/* line 3, ../sass/parts/_works.scss */
.works {
  -webkit-box-ordinal-group: 4;
  -moz-box-ordinal-group: 4;
  -ms-flex-order: 4;
  -webkit-order: 4;
  order: 4;
}
/* line 6, ../sass/parts/_works.scss */
.works-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(370px, auto);
  grid-gap: 25px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1200px) {
  /* line 6, ../sass/parts/_works.scss */
  .works-posts {
    grid-gap: 15px;
  }
}
@media screen and (max-width: 992px) {
  /* line 6, ../sass/parts/_works.scss */
  .works-posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  /* line 6, ../sass/parts/_works.scss */
  .works-posts {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-gap: 10px;
    margin-bottom: 30px;
  }
}
/* line 28, ../sass/parts/_works.scss */
.works-posts .works-singlepost {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  height: 100%;
  background: no-repeat center / cover;
  color: #fff;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (max-width: 700px) {
  /* line 47, ../sass/parts/_works.scss */
  .works-posts .works-singlepost:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
}
@media screen and (min-width: 701px) {
  /* line 61, ../sass/parts/_works.scss */
  .works-posts .works-singlepost:hover:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
  }
  /* line 72, ../sass/parts/_works.scss */
  .works-posts .works-singlepost:hover .inner {
    padding: 40px 80px;
  }
}
/* line 78, ../sass/parts/_works.scss */
.works-posts .works-singlepost.nature {
  grid-row: 1;
  grid-column: 1/3;
  background-image: url("../img/nature.jpg");
}
@media screen and (max-width: 992px) {
  /* line 78, ../sass/parts/_works.scss */
  .works-posts .works-singlepost.nature {
    grid-row: 1;
    grid-column: 1/3;
  }
}
@media screen and (max-width: 700px) {
  /* line 78, ../sass/parts/_works.scss */
  .works-posts .works-singlepost.nature {
    grid-row: 1;
    grid-column: 1;
  }
}
/* line 94, ../sass/parts/_works.scss */
.works-posts .works-singlepost.urban {
  grid-row: 1/3;
  grid-column: 3;
  background-image: url("../img/urban.jpg");
}
@media screen and (max-width: 992px) {
  /* line 94, ../sass/parts/_works.scss */
  .works-posts .works-singlepost.urban {
    grid-row: 2/4;
    grid-column: 2;
  }
}
@media screen and (max-width: 700px) {
  /* line 94, ../sass/parts/_works.scss */
  .works-posts .works-singlepost.urban {
    grid-row: 2;
    grid-column: 1;
  }
}
/* line 110, ../sass/parts/_works.scss */
.works-posts .works-singlepost.people {
  grid-row: 2;
  grid-column: 1;
  background-image: url("../img/people.jpg");
}
@media screen and (max-width: 992px) {
  /* line 110, ../sass/parts/_works.scss */
  .works-posts .works-singlepost.people {
    grid-row: 2;
    grid-column: 1;
  }
}
@media screen and (max-width: 700px) {
  /* line 110, ../sass/parts/_works.scss */
  .works-posts .works-singlepost.people {
    grid-row: 3;
    grid-column: 1;
  }
}
/* line 127, ../sass/parts/_works.scss */
.works-posts .works-singlepost.wedding {
  grid-row: 2;
  grid-column: 2;
  background-image: url("../img/wedding.jpg");
}
@media screen and (max-width: 992px) {
  /* line 127, ../sass/parts/_works.scss */
  .works-posts .works-singlepost.wedding {
    grid-row: 3;
    grid-column: 1;
  }
}
@media screen and (max-width: 700px) {
  /* line 127, ../sass/parts/_works.scss */
  .works-posts .works-singlepost.wedding {
    grid-row: 4;
    grid-column: 1;
  }
}
/* line 143, ../sass/parts/_works.scss */
.works-posts .works-singlepost.architecture {
  grid-row: 3;
  grid-column: 1/3;
  background-image: url("../img/architecture.jpg");
}
@media screen and (max-width: 992px) {
  /* line 143, ../sass/parts/_works.scss */
  .works-posts .works-singlepost.architecture {
    grid-row: 4;
    grid-column: 1/3;
  }
}
@media screen and (max-width: 700px) {
  /* line 143, ../sass/parts/_works.scss */
  .works-posts .works-singlepost.architecture {
    grid-row: 5;
    grid-column: 1;
  }
}
/* line 160, ../sass/parts/_works.scss */
.works-posts .works-singlepost.animals {
  grid-row: 3;
  grid-column: 3;
  background-image: url("../img/animals.jpg");
}
@media screen and (max-width: 992px) {
  /* line 160, ../sass/parts/_works.scss */
  .works-posts .works-singlepost.animals {
    grid-row: 5;
    grid-column: 1/3;
  }
}
@media screen and (max-width: 700px) {
  /* line 160, ../sass/parts/_works.scss */
  .works-posts .works-singlepost.animals {
    grid-row: 6;
    grid-column: 1;
  }
}
/* line 176, ../sass/parts/_works.scss */
.works-posts .works-singlepost .inner {
  -moz-transition: all, linear 0.3s;
  -o-transition: all, linear 0.3s;
  -webkit-transition: all, linear 0.3s;
  transition: all, linear 0.3s;
  position: relative;
  padding: 10px 50px;
  z-index: 2;
}
/* line 184, ../sass/parts/_works.scss */
.works-posts .works-singlepost .inner span {
  display: block;
  position: relative;
  margin-bottom: 20px;
  font-family: "Playfair Display";
  font-size: 25px;
  line-height: 31px;
  text-transform: uppercase;
}
/* line 193, ../sass/parts/_works.scss */
.works-posts .works-singlepost .inner span::after {
  position: absolute;
  content: "";
  bottom: -12px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
/* line 206, ../sass/parts/_works.scss */
.works-posts .works-singlepost .inner .corner {
  position: absolute;
  width: 20px;
  height: 20px;
}
/* line 211, ../sass/parts/_works.scss */
.works-posts .works-singlepost .inner .corner.top-left {
  left: 0;
  top: 0;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
}
/* line 218, ../sass/parts/_works.scss */
.works-posts .works-singlepost .inner .corner.top-right {
  right: 0;
  top: 0;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
}
/* line 225, ../sass/parts/_works.scss */
.works-posts .works-singlepost .inner .corner.bottom-left {
  left: 0;
  bottom: 0;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
/* line 232, ../sass/parts/_works.scss */
.works-posts .works-singlepost .inner .corner.bottom-right {
  right: 0;
  bottom: 0;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
/* line 243, ../sass/parts/_works.scss */
.works-button {
  display: block;
  margin: 0 auto;
  padding: 20px 50px;
  min-width: 200px;
  border: 2px solid #d07c7c;
  background-color: inherit;
  color: #d07c7c;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 257, ../sass/parts/_works.scss */
.works-button:hover, .works-button:active, .works-button:focus {
  background-color: #d07c7c;
  color: #fff;
}

/* line 3, ../sass/parts/_reviews.scss */
.reviews {
  -webkit-box-ordinal-group: 5;
  -moz-box-ordinal-group: 5;
  -ms-flex-order: 5;
  -webkit-order: 5;
  order: 5;
  padding: 100px 0;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  /* line 3, ../sass/parts/_reviews.scss */
  .reviews {
    padding: 70px 0;
  }
}
@media screen and (max-width: 700px) {
  /* line 3, ../sass/parts/_reviews.scss */
  .reviews {
    padding: 50px 0;
  }
}
/* line 17, ../sass/parts/_reviews.scss */
.reviews .title {
  text-transform: none;
}
/* line 23, ../sass/parts/_reviews.scss */
.reviews-slider .slide-quote {
  margin: 0 auto 25px;
  max-width: 600px;
  color: #848282;
  font-family: "Raleway";
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
}
@media screen and (max-width: 1200px) {
  /* line 23, ../sass/parts/_reviews.scss */
  .reviews-slider .slide-quote {
    font-size: 16px;
    line-height: 20px;
  }
}
@media screen and (max-width: 700px) {
  /* line 23, ../sass/parts/_reviews.scss */
  .reviews-slider .slide-quote {
    font-size: 13px;
    line-height: 16px;
  }
}
/* line 44, ../sass/parts/_reviews.scss */
.reviews-slider .slide-author {
  color: #848282;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
}
@media screen and (max-width: 1200px) {
  /* line 44, ../sass/parts/_reviews.scss */
  .reviews-slider .slide-author {
    font-size: 13px;
    line-height: 16px;
  }
}
@media screen and (max-width: 700px) {
  /* line 44, ../sass/parts/_reviews.scss */
  .reviews-slider .slide-author {
    font-size: 12px;
    line-height: 14px;
  }
}
/* line 62, ../sass/parts/_reviews.scss */
.reviews-slider .owl-dots .owl-dot {
  outline: 0;
}
/* line 65, ../sass/parts/_reviews.scss */
.reviews-slider .owl-dots .owl-dot.active span, .reviews-slider .owl-dots .owl-dot:hover span {
  background-color: #d07c7c;
}
/* line 70, ../sass/parts/_reviews.scss */
.reviews-slider .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
}

/* line 3, ../sass/parts/_video.scss */
.video {
  -webkit-box-ordinal-group: 6;
  -moz-box-ordinal-group: 6;
  -ms-flex-order: 6;
  -webkit-order: 6;
  order: 6;
  display: block;
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 140px;
  padding-top: 56.25%;
}
@media screen and (max-width: 1200px) {
  /* line 3, ../sass/parts/_video.scss */
  .video {
    margin-bottom: 70px;
  }
}
@media screen and (max-width: 700px) {
  /* line 3, ../sass/parts/_video.scss */
  .video {
    margin-bottom: 50px;
  }
}
/* line 21, ../sass/parts/_video.scss */
.video iframe {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* line 3, ../sass/parts/_followme.scss */
.followme {
  -webkit-box-ordinal-group: 7;
  -moz-box-ordinal-group: 7;
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}
/* line 6, ../sass/parts/_followme.scss */
.followme-socials {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin: 60px auto;
  max-width: 800px;
}
@media screen and (max-width: 1200px) {
  /* line 6, ../sass/parts/_followme.scss */
  .followme-socials {
    max-width: 600px;
  }
}
@media screen and (max-width: 700px) {
  /* line 6, ../sass/parts/_followme.scss */
  .followme-socials {
    margin: 50px auto;
  }
}
/* line 22, ../sass/parts/_followme.scss */
.followme-socials a {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  width: 65px;
  height: 65px;
  text-decoration: none;
}
/* line 32, ../sass/parts/_followme.scss */
.followme-socials a:hover, .followme-socials a:active, .followme-socials a:focus {
  border: 1px solid #d07c7c;
}
/* line 35, ../sass/parts/_followme.scss */
.followme-socials a:hover .icon, .followme-socials a:active .icon, .followme-socials a:focus .icon {
  background-color: #d07c7c;
  color: #fff;
}
@media screen and (max-width: 700px) {
  /* line 22, ../sass/parts/_followme.scss */
  .followme-socials a {
    width: 45px;
    height: 45px;
  }
}
/* line 46, ../sass/parts/_followme.scss */
.followme-socials a .icon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -moz-transition: all, linear 0.3s;
  -o-transition: all, linear 0.3s;
  -webkit-transition: all, linear 0.3s;
  transition: all, linear 0.3s;
  width: 55px;
  height: 55px;
  color: #848282;
  font-size: 25px;
  line-height: 100%;
}
@media screen and (max-width: 700px) {
  /* line 46, ../sass/parts/_followme.scss */
  .followme-socials a .icon {
    width: 35px;
    height: 35px;
    font-size: 18px;
  }
}

/* line 3, ../sass/parts/_contact.scss */
.contact {
  padding: 70px 0 140px;
  background: url(../img/contact-background.jpg) no-repeat center/cover;
  -webkit-box-ordinal-group: 7;
  -moz-box-ordinal-group: 7;
  -ms-flex-order: 7;
  -webkit-order: 7;
  order: 7;
}
@media screen and (max-width: 700px) {
  /* line 3, ../sass/parts/_contact.scss */
  .contact {
    padding: 35px 0 70px;
  }
}
/* line 12, ../sass/parts/_contact.scss */
.contact-desc {
  margin-bottom: 50px;
  color: #848282;
  font-family: "Raleway";
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  /* line 12, ../sass/parts/_contact.scss */
  .contact-desc {
    margin-bottom: 30px;
  }
}
/* line 28, ../sass/parts/_contact.scss */
.contact-form .contact-button {
  display: block;
  margin: 15px auto 0;
  padding: 20px 50px;
  min-width: 200px;
  border: 2px solid #d07c7c;
  background-color: inherit;
  color: #d07c7c;
  font-family: "Raleway";
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 42, ../sass/parts/_contact.scss */
.contact-form .contact-button:hover, .contact-form .contact-button:active, .contact-form .contact-button:focus {
  background-color: #d07c7c;
  color: #fff;
}
/* line 48, ../sass/parts/_contact.scss */
.contact-form .contact-label {
  display: block;
  position: relative;
  margin-bottom: 15px;
}
/* line 53, ../sass/parts/_contact.scss */
.contact-form .contact-label input, .contact-form .contact-label textarea {
  padding: 10px 10px 10px 30px;
  width: 100%;
  border: 2px solid #d07c7c;
  outline: 0;
  background-color: inherit;
  color: #848282;
  font-family: "Raleway";
  font-size: 13px;
  line-height: 18px;
}
/* line 65, ../sass/parts/_contact.scss */
.contact-form .contact-label input {
  min-height: 50px;
}
/* line 69, ../sass/parts/_contact.scss */
.contact-form .contact-label textarea {
  padding-top: 15px;
  max-width: 100%;
  min-width: 100%;
  min-height: 150px;
}
/* line 76, ../sass/parts/_contact.scss */
.contact-form .contact-label .icon {
  position: absolute;
  top: 18px;
  left: 10px;
  color: #848282;
}
/* line 83, ../sass/parts/_contact.scss */
.contact-form .contact-label label.js-error {
  display: block;
  margin-top: 5px;
  padding: 10px;
  width: fit-content;
  background-color: #d07c7c;
  color: #fff;
  font-size: 12px;
}

/* line 3, ../sass/parts/_footer.scss */
.footer {
  padding: 25px 0;
  text-align: center;
  -webkit-box-ordinal-group: 8;
  -moz-box-ordinal-group: 8;
  -ms-flex-order: 8;
  -webkit-order: 8;
  order: 8;
}
/* line 8, ../sass/parts/_footer.scss */
.footer-logo {
  display: block;
  margin: 0px auto;
  width: 90px;
  height: 38px;
  background: url(../img/logo-dark.png) no-repeat;
  cursor: pointer;
}
/* line 17, ../sass/parts/_footer.scss */
.footer-copyright {
  margin-top: 15px;
  color: #848282;
  font-size: 12px;
  line-height: 18px;
}
