// 1. RESET & COMPASS
@import "compass";
@import "compass/reset";

// 2. DEFAULT STYLES (FONTS + VARIABLES) + GRID SYSTEM
@import "parts/fonts";
@import "parts/grid";
@import "parts/default";

// 3. STYLES
@import "parts/header";
@import "parts/menubar";
@import "parts/aboutme";
@import "parts/works";
@import "parts/reviews";
@import "parts/video";
@import "parts/followme";
@import "parts/contact";
@import "parts/footer";