// CONTACT

.contact {
    padding: 70px 0 140px;
    background: url(../img/contact-background.jpg) no-repeat center / cover;
    @include order(7);
    
    @include breakpoint(700px) {
        padding: 35px 0 70px;
    }
    
    &-desc {
        margin-bottom: 50px;
        color: $gray;
        font-family: $raleway;
        font-size: $font-normal + 1;
        line-height: $font-medium;
        font-weight: $light;
        text-align: center;
        
        @include breakpoint(1200px) {
            margin-bottom: 30px;
        }
    }
    
    &-form {
        
        .contact-button {
            display: block;
            margin: 15px auto 0;
            padding: 20px 50px;
            min-width: 200px;
            border: 2px solid $pink;
            background-color: inherit;
            color: $pink;
            font-family: $raleway;
            font-size: $font-medium - 2;
            line-height: $font-medium;
            font-weight: $bold;
            text-transform: uppercase;

            &:hover, &:active, &:focus {
                background-color: $pink;
                color: $white;
            }
        }
        
        .contact-label {
            display: block;
            position: relative;
            margin-bottom: 15px;
            
            input, textarea {
                padding: 10px 10px 10px 30px;
                width: 100%;
                border: 2px solid $pink;
                outline: 0;
                background-color: inherit;
                color: $gray;
                font-family: $raleway;
                font-size: $font-normal;
                line-height: $font-medium;
            }
            
            input {
                min-height: 50px;
            }
            
            textarea {
                padding-top: 15px;
                max-width: 100%;
                min-width: 100%;
                min-height: 150px;
            }
            
            .icon {
                position: absolute;
                top: 18px;
                left: 10px;
                color: $gray;
            }
            
            label.js-error {
                display: block;
                margin-top: 5px;
                padding: 10px;
                width: fit-content;
                background-color: $pink;
                color: $white;
                font-size: $font-normal - 1;
            }
        }
    }
}