// VARIABLES DEFAULT

// FONT FAMILY
$playfair: "Playfair Display";
$raleway: "Raleway";

// FONT WEIGHT
$light: 300;
$normal: 400;
$bold: 700;

// COLORS
$white: #fff;
$black: #000;
$pink: #d07c7c;
$gray: #848282;
$darkgray: #5a5957;

// SIZES
$font-small: 11px;
$font-normal: 13px;
$font-medium: 18px;
$font-big: 26px;

body {
    @include display-flex;
    @include flex-direction(column);
    position: relative;
    margin: 0px auto;
    padding: 0 25px;
    max-width: 1920px;
    background-color: $white;
    color: $black;
    font-family: $raleway;
    font-size: $font-normal;
    line-height: 100%;
    font-weight: $normal;
    overflow-x: hidden;
    
    @include breakpoint(1200px) {
        padding: 0 15px;
    }
    
    @include breakpoint(700px) {
        padding: 0 10px;
    }
}

.btn {
    @include display-flex;
    @include justify-content(center);
    @include align-items(center);
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    @include transition(all, linear .3s);
    
    &-back {
        position: fixed;
        bottom: 15px;
        right: 15px;
        width: 45px;
        height: 45px;
        @include border-radius(50%);
        background-color: $pink;
        color: $white;
        font-size: $font-medium + 2;
        z-index: 5;
        transform: rotate(180deg);

        &:hover, &:active, &:focus {
            background-color: $white;
            color: $pink;
            border: 2px solid $pink;
        }
    }
    
    &-down {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 125px;
        margin: 0 auto;
        width: 45px;
        height: 45px;
        @include border-radius(50%);
        background-color: $white;
        color: $pink;
        font-size: $font-medium + 2;
        
        &:hover, &:active, &:focus {
            background-color: $pink;
            color: $white;
        }
        
        @include breakpoint(700px) {
            bottom: 25px;
        }
    }
}

.title {
    position: relative;
    margin-bottom: 70px;
    color: $darkgray;
    font-family: $playfair;
    font-size: $font-big - 1;
    line-height: $font-big + 4;
    text-transform: uppercase;
    text-align: center;
    
    @include breakpoint(1200px) {
        margin-bottom: 35px;
    }
    
    &:after {
        position: absolute;
        content: "";
        bottom: -10px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 62px;
        height: 3px;
        background-color: $pink;
    }
}