// VARIABLES DEFAULT

// FONT FAMILY
// FONT WEIGHT
// COLORS
// SIZES

body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px auto;
    padding: 0 25px;
    max-width: 1920px;
    background-color: #fff;
    color: #000;
    font-family: Raleway;
    font-size: 13px;
    line-height: 100%;
    font-weight: 400;
    overflow-x: hidden;
    
    @include breakpoint(1200px) {
        padding: 0 15px;
    }
    
    @include breakpoint(700px) {
        padding: 0 10px;
    }
}

.button-back {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    margin: 0px;
    padding: 0px;
    width: 45px;
    height: 45px;
    border: 0;
    border-radius: 50%;
    background-color: #d07c7c;
    color: #fff;
    font-size: 20px;
    outline: 0;
    cursor: pointer;
    z-index: 5;
    text-decoration: none;
    transform: rotate(180deg);
    -moz-transition: all,linear .3s;
    -o-transition: all,linear .3s;
    -webkit-transition: all,linear .3s;
    transition: all,linear .3s;
    
    &:hover, &:active, &:focus {
        background-color: #fff;
        color: #d07c7c;
        border: 2px solid #d07c7c;
    }
}