/****************************************************************************
VARIABLES DEFAULT
****************************************************************************/

/* FONT FAMILY */
/* FONT WEIGHT */
/* COLORS */
/* SIZES */

body {
    position: relative;
    color: #000;
    background-color: #fff;
    padding: 25px;
    font-family: Raleway;
    font-size: 13px;
    line-height: 100%;
    font-weight: 400;
    overflow-x: hidden;
    margin: 0 auto;
    text-align: center;
}
