// FOLLOWME

.followme {
    @include order(7);
    
    &-socials {
        @include display-flex;
        @include justify-content(space-between);
        @include align-items(center);
        
        margin: 60px auto;
        max-width: 800px;
        
        @include breakpoint(1200px) {
            max-width: 600px;
        }
        
        @include breakpoint(700px) {
            margin: 50px auto;
        }
        
        a {
            @include display-flex;
            @include justify-content(center);
            @include align-items(center);
            @include border-radius(50%);
            
            width: 65px;
            height: 65px;
            text-decoration: none;
            
            &:hover, &:active, &:focus {
                border: 1px solid $pink;
                
                .icon {
                    background-color: $pink;
                    color: $white;
                }
            }
            
            @include breakpoint(700px) {
                width: 45px;
                height: 45px;
            }
            
            .icon {
                @include display-flex;
                @include justify-content(center);
                @include align-items(center);
                @include border-radius(50%);
                @include transition(all, linear .3s);
                
                width: 55px;
                height: 55px;
                color: $gray;
                font-size: $font-big - 1;
                line-height: 100%;
                
                @include breakpoint(700px) {
                    width: 35px;
                    height: 35px;
                    font-size: $font-medium;
                }
            }
        }
    }
}