// FOLLOWME

.followme {
    order: 7;
    
    &-title {
        position: relative;
        color: #5a5957;
        font-family: "Playfair Display";
        font-size: 25px;
        line-height: 30px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        
        &:after {
            position: absolute;
            content: "";
            bottom: -10px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 62px;
            height: 3px;
            background-color: #d07c7c;
        }
    }
    
    &-socials {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 60px 0 100px;
        
        @include breakpoint(700px) {
            margin: 30px 0 50px;
        }
        
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 65px;
            height: 65px;
            border-radius: 50%;
            text-decoration: none;
            
            &:hover, &:active, &:focus {
                border: 1px solid #d07c7c;
                
                .icon {
                    background-color: #d07c7c;
                    color: #fff;
                }
            }
            
            @include breakpoint(700px) {
                width: 45px;
                height: 45px;
            }
            
            .icon {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 55px;
                height: 55px;
                border-radius: 50%;
                color: #848282;
                font-size: 25px;
                line-height: 100%;
                -moz-transition: all,linear .3s;
                -o-transition: all,linear .3s;
                -webkit-transition: all,linear .3s;
                transition: all,linear .3s;
                
                @include breakpoint(700px) {
                    width: 35px;
                    height: 35px;
                    font-size: 18px;
                }
            }
        }
    }
}