/****************************************************************************
FONTS DECLARATION
****************************************************************************/

/* FONTS */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');