// FOOTER

.footer {
    padding: 25px 0;
    text-align: center;
    @include order(8);
    
    &-logo {
        display: block;
        margin: 0px auto;
        width: 90px;
        height: 38px;
        background: url(../img/logo-dark.png) no-repeat;
        cursor: pointer;
    }
    
    &-copyright {
        margin-top: 15px;
        color: $gray;
        font-size: $font-normal - 1;
        line-height: $font-medium;
    }
}