// FOOTER

.footer {
    padding: 25px 0;
    text-align: center;
    order: 8;
    
    &-logo {
        width: 90px;
        height: 38px;
        background: url(../img/logo-dark.png) no-repeat;
        display: block;
        margin: 0px auto;
        cursor: pointer;
    }
    
    &-copyright {
        margin-top: 15px;
        color: #848282;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
    }
}