// HEADER

.header {
    position: relative;
    height: 660px;
    text-align: center;
    background: url(../img/header-background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 170px 0px 70px;
    
    @include breakpoint(700px) {
        order: 2;
        height: 500px;
        padding: 100px 0px 50px;
    }
    
    
    &-logo {
        display: block;
        margin: 0px auto;
    }
    
    
    &-title {
        position: relative;
        color: rgb(255, 255, 255);
        font-family: "Playfair Display";
        font-size: 48px;
        font-weight: 400;
        line-height: 58px;
        margin-top: 50px;
        
        @include breakpoint(1200px) {
            font-size: 36px;
            line-height: 42px;
        }
        
        @include breakpoint(700px) {
            font-size: 28px;
            line-height: 34px;
        }
        
        &:before {
            position: absolute;
            width: 80px;
            height: 3px;
            background-color: rgb(255, 255, 255);
            content: "";
            bottom: -20px;
            left: 0px;
            right: 0px;
            margin: 0px auto;
        }
    }
    
    &-desc {
        max-width: 450px;
        color: rgb(255, 255, 255);
        font-family: Raleway;
        font-size: 16px;
        font-weight: 300;
        line-height: 23px;
        margin: 60px auto 0px;
        
        @include breakpoint(1200px) {
            font-size: 14px;
            line-height: 18px;
        }
        
        @include breakpoint(700px) {
            font-size: 13px;
            line-height: 16px;
        }
    }
    
    &-arrow {
        background-color: inherit;
        font-size: 20px;
        color: rgb(255, 255, 255);
        position: absolute;
        bottom: 125px;
        padding: 0px;
        margin: 0px;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        outline: 0px;
        
        @include breakpoint(700px) {
            bottom: 25px;
        }
    }
}