// HEADER

.header {
    position: relative;
    padding: 170px 0px 70px;
    height: 660px;
    background: url(../img/header-background.jpg) no-repeat center / cover;
    text-align: center;
    order: 1;
    
    @include breakpoint(700px) {
        margin-top: 55px;
        padding: 100px 0px 50px;
        height: 500px;
        order: 2;
    }
    
    &-logo {
        display: block;
        margin: 0px auto;
        width: 141px;
        height: 58px;
        background: url(../img/logo.png) no-repeat;
        cursor: pointer;
    }
    
    &-title {
        position: relative;
        margin-top: 50px;
        color: #fff;
        font-family: "Playfair Display";
        font-size: 48px;
        line-height: 58px;
        font-weight: 400;
        
        @include breakpoint(1200px) {
            font-size: 36px;
            line-height: 42px;
        }
        
        @include breakpoint(700px) {
            font-size: 28px;
            line-height: 34px;
        }
        
        &:before {
            position: absolute;
            content: "";
            bottom: -20px;
            left: 0px;
            right: 0px;
            margin: 0px auto;
            width: 80px;
            height: 3px;
            background-color: #fff;
        }
    }
    
    &-desc {
        margin: 60px auto 0px;
        max-width: 450px;
        color: #fff;
        font-family: Raleway;
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
        
        @include breakpoint(1200px) {
            font-size: 14px;
            line-height: 18px;
        }
        
        @include breakpoint(700px) {
            font-size: 13px;
            line-height: 16px;
        }
    }
    
    &-arrow {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 125px;
        margin: 0 auto;
        padding: 0;
        width: 45px;
        height: 45px;
        border: 0;
        border-radius: 50%;
        background-color: #fff;
        color: #d07c7c;
        font-size: 20px;
        outline: 0;
        cursor: pointer;
        text-decoration: none;
        -moz-transition: all,linear .3s;
        -o-transition: all,linear .3s;
        -webkit-transition: all,linear .3s;
        transition: all,linear .3s;
        
        &:hover, &:active, &:focus {
            background-color: #d07c7c;
            color: #fff;
        }
        
        @include breakpoint(700px) {
            bottom: 25px;
        }
    }
}