// MENUBAR

.menubar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 55px;
    border-bottom: 1px solid #ebebeb;
    order: 2;
    
    @include breakpoint(700px) {
        order: 1;
    }

    &-logo {
        display: block;
        margin-left: 55px;
        width: 93px;
        height: 18px;
        background: url(../img/logo-short-dark.png) no-repeat;
        
        @include breakpoint(1200px) {
            margin-left: 0;    
        }
    }
    
    &-links {
        
        @include breakpoint(700px) {
            display: none;
            position: absolute;
            top: 55px;
            width: 100%;
            left: 0;
            right: 0;
            padding: 15px 0;
            background-color: rgba(208, 124, 124, 0.8);
            text-align: center;
            z-index: 99;
        }
        
        &.toggle {
            display: block;
        }
        
        li {
            display: inline-block;
            margin-right: 55px;
            
            @include breakpoint(1200px) {
                margin-right: 25px;
                
                &:last-of-type {
                    margin-right: 0;
                }
            }
            
            @include breakpoint(700px) {
                display: block;
                margin-right: 0;
                margin-bottom: 5px;
                
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            
            a {
                display: block;
                position: relative;
                color: #696969;
                font-family: Raleway;
                font-size: 13px;
                line-height: 18px;
                font-weight: 300;
                text-transform: uppercase;
                text-decoration: none;
                cursor: pointer;
                
                @include breakpoint(700px) {
                    color: #fff;
                    font-size: 18px;
                    line-height: 24px;
                    
                    &:hover, &:active, &:focus {
                        color: #000;
                        font-weight: 700;
                    }
                }
            }
            
            &.active a:after, a:hover:after {
                position: absolute;
                content: "";
                bottom: -5px;
                left: 0;
                right: 0;
                width: 100%;
                height: 2px;
                background-color: #d07c7c;
                
                @include breakpoint(700px) {
                    display: none;
                }
            }
        }
    }
    
    &-togglemenu {
        display: block;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        background-color: inherit;
        color: #d07c7c;
        font-size: 25px;
        cursor: pointer;
        
        @include breakpoint-min(701px) {
            display: none;
        }
    }
}