// REVIEWS

.reviews {
    @include order(5);
    
    padding: 100px 0;
    text-align: center;
        
    @include breakpoint(1200px) {
        padding: 70px 0;
    }
        
    @include breakpoint(700px) {
        padding: 50px 0;
    }
    
    .title {
        text-transform: none;
    }
    
    &-slider {
        
        .slide-quote {
            margin: 0 auto 25px;
            max-width: 600px;
            color: $gray;
            font-family: $raleway;
            font-size: $font-medium;
            line-height: $font-big - 2;
            font-weight: $light;
            font-style: italic;
            
            @include breakpoint(1200px) {
                font-size: $font-medium - 2;
                line-height: $font-medium + 2;
            }
            
            @include breakpoint(700px) {
                font-size: $font-normal;
                line-height: $font-normal + 3;
            }
        }
        
        .slide-author {
            color: $gray;
            font-family: $raleway;
            font-size: $font-normal + 1;
            line-height: $font-medium;
            font-weight: $light;
            
            @include breakpoint(1200px) {
                font-size: $font-normal;
                line-height: $font-normal + 3;
            }
            
            @include breakpoint(700px) {
                font-size: $font-normal - 1;
                line-height: $font-normal + 1;
            }
        }
        
        .owl-dots .owl-dot {
            outline: 0;
            
            &.active span, &:hover span {
                background-color: $pink; 
            }
        }
        
        .owl-nav.disabled + .owl-dots {
            margin-top: 30px;
        }
    }
}